html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #b6b7bc;
    border-top: solid 10px #000;
    color: #696969;
    font-size: .80em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active {
        color: #034af3;
    }

    a:hover {
        color: #1d60ff;
        text-decoration: none;
    }

p {
    margin-bottom: 10px;
    line-height: 1.6em;
    width: 417px;
}


h1, h2, h3,
h4, h5, h6 {
    font-size: 1.5em;
    font-variant: small-caps;
    color: #666666;
    font-weight: 200;
    text-transform: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 1.6em;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

.rightColumn > h1, .rightColumn > h2, .lefttColumn > h1, .lefttColumn > h1 {
    margin-top: 0px;
}

.page {
    width: 960px;
    background-color: #48483C;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
    min-height:600px;
}

.header {
    position: relative;
    margin: 0px;
    padding:0px;
    background: #4b6c9e;
}

    .header h1 {
        font-weight: 700;
        margin: 0px;
        padding: 0px 0px 0px 20px;
        color: #f9f9f9;
        border: none;
        line-height: 2em;
        font-size: 2em;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

.main {
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
}

.leftcol {
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

footer {
    clear: both; /*here i have to chnage*/
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

/*for tab menu designing*/
/*--------------------------------------------------------------------------------*/

div.hideSkiplink {
    background-color: #3a4f63;
    width: 100%;
}

div.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

div.menu ul li 
{
        padding-left: 8px;
        white-space:nowrap;
        
}

div.menu ul li a, div.menu ul li a:visited 
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color:#dde4ec;
    line-height:2.8em;
    padding :4px 20px;
    text-decoration:none;

}

 div.menu ul li a:hover 
 {
     background-color:#bfcbd6;
     color:#465c71;
     text-decoration:none;
 }

 div.menu ul li a:active 
{
  background-color:#465c71;
  color:#cfdbe6;
  text-decoration:none;

}

 /*form desinging*/
fieldset 
{
margin:1em 0px;
padding:1em;
border: 1px solid #ccc;
}

#fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changepassword label {
    display: block;
}
fieldset label.inline 
{
    display:inline;
}
legend
{
    font-size:1.1em;
    font-weight:500;
    padding: 2px 4px 8px 4px;
    width:134px;
}
input.submitButton 
{
    float:left;
    margin:0px 10px 0px 0px;
}
input.textEntry
{
    width:320px;
    border:1px solid #ccc;
}
input.passwordEntry 
{
    width:320px;
    border:1px solid #ccc;
}

div.accountInfo
{
    width:55%;
}

.clear 
{
    clear:both;
}
.title 
{
    display:block;
    float:left;
    text-align:left;
    width:auto;
}
.loginDisplay 
{
    font-size:1.2em;
    display:block;
    text-align:right;
    padding:10px;
    color:white;
} 
.loginDisplay a:link 
{
    color:white;
}
.loginDisplay a:visited 
{
    color:white;
}
.loginDisplay a:hover 
{
    color:white;
}
.failureNotification 
{
 font-size:1.2em;
 color:red;
}
.bold 
{
    font-weight:bold;
}

